.premesniper-main {
    .title {
        font-family: 'Roboto', sans-serif;
        color: #353535;
        display: flex;
        align-items: center;
        margin-left: 6%;
        margin-top: 20px;
        font-size: 32px;
        .dash {
            margin-left: 20px;
            width: 92px;
            height: 2.4px;
            background-color: #353535;
        }
    }
}