@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.footer {
    height: 60px;
    background-image: url('../images/background.svg');
    background-size: cover;
    width: 100%;
    position: absolute;
    bottom: 0;
}

@import "./Announcement";
@import "./Header";
@import "./Main";